footer{
    p{
        margin-bottom: 0.5rem;
    }
    font-family: Montserrat;
   .footer{
       background-color: $footer_bg;
   }
   .footer_warp{
       .footer_main_blocks{
           display: flex;
           padding: 50px 0 10px;
           .footer_main_block{
                display: flex;
                flex-direction: column;
                width: 25%;
                color: $white;
                font-size: 12px;
                font-weight: 300;
                .social_wrap{
                    display: flex;
                    p{
                    margin-right: 10px;
                        :last-child{
                        margin-right: 0;
                        }
                    }
                }
                :first-child{
                    font-size: 14px;
                    font-weight: 400;
                    color: $main;
                }
           }
       }

       .footer_sub_block{
            background-color: $main;
            height: 1px;
            width: 150px;
            margin: 0 auto;
       }
       .footer_copy_block{
            padding: 20px 0;
            color: #BDBDBD;
            font-size: 12px;
            text-align: center;
       }
   }
}

