.product_cart_container{
    display: flex;
}
.product_cart{
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    .prodcut_cart_item_title{
        flex-grow: 1;
    }
    .prodcut_cart_item_category{
        flex-grow: 1;
    }
    .product_cart_item_price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 3;
        border: 1px solid $yellow;
        border-radius: 6px;
        margin-bottom: 10px;
        font-size: 1.5em;
        font-weight: 700;
        .product_cart_item_price__sale{
            font-size: 0.6em;
            font-weight: 400;
            color: $red;
        }
        p{
            margin: 0;
        }
    }
    .product_cart_item_qty_button{
        flex-grow: 1;
        .form-group{
            margin: 0;
        }
    }
}












.qty_input{
    display: inline;
    width: 40%;
}
.buy_button{
    padding: 8px 30px;
}
