.slider_container{
    box-sizing: border-box;
    margin-top: 1vh;
    .slider_wrap{
        .slider{
            position: relative;
            .slider_info{
                position: absolute;
                top: 10%;
                left: 5%;
                .slider_img img{
                    width: 100%;
                }
                .slider_name{

                }
                .slider_decrp{
                    width: 40%;
                    margin-bottom: 30px;

                }
                .slider_button{
                    :hover{
                        background-color: $white;
                    }

                    a{
                        background-color: $yellow;
                        padding: 0.5vw 1vw;
                        color: $black;
                        text-decoration: none;
                        border-radius: 10px;
                   }
                }
            }


        }

    }
}


